body {
    background-image: url("241226_200743672.jpg");
    background-repeat: repeat;
    background-color: #101016;
        background-position: center;
        background-size: cover;

        display: flex;
        justify-content: first baseline;
        align-items: center;
        flex-direction: column;
    


}



.container {
    background-color: #2a2a2a;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 520px;
    
}
h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
}

label {
    font-weight: bold;
    display: block;
    margin: 5px 0 5px;
    color: #ffffff;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #000000;
    color: #ffffff;
    background-color: #393939;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}

#statusMessage {
    margin-top: 15px;
    font-size: 0.9em;
    color: #e6e4e4;
}

.transp {
    color: #ffffff00;
    background-color: #ffffff00;

}


.embed{
    background-color: rgb(88, 101, 242);
    color: ivory;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;

}


.embed2{
  background-color: rgb(29, 75, 174);
  color: ivory;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;

}

.redembed{
background-color: rgb(235, 73, 76);
    color: ivory;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
}



div  {
    background-color: rgb(45, 47, 53);
    color: white;
    border-radius: 5px;
}



* {
    margin: 0;
    }
    
    .dropdown {
    display: flex;
    align-items: self-;
    }
    
    
    .div1 {
      height: 300px;
      background-color: #2f3136;
      background-position: center;
      width: 99vw;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    
    .div2 {
    height: 320px;
      background-position: center;
      width: 99vw;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    
    .div3 {
    height: 570px;
    background-color: #2f3136;
      width: 99vw;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    
    .div4 {
    height: 450px;
    background-color: #2f3136;
      width: 99vw;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    
    .title {
    height: 80px;
    background-color: #5865f2;
      background-position: center;
      width: 99vw;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    
    .title2 {
    height: 80px;
    background-color: #2ae882;
      background-position: center;
      width: 99vw;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    
    .title3 {
    height: 80px;
    background-color: #ff4f4f;
      background-position: center;
      width: 99vw;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    
    .end {
    height: 200px;
    background-color: #24262a;
      background-position: center;
      width: 99vw;
      display: flex;
      align-items: center;
      flex-direction: column;
    }